.alert {
  padding: .7rem;
  margin-top: .7rem;
  margin-bottom: .7rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  background-color: $white;

  &.error {
    border-left-color: $red;
  }
}